<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>

    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>labelle</title>

    <meta name="author" content="themesflat.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet"  href="/css/animate.min.css">
    <link rel="stylesheet"  href="/css/animation.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet"  href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <!-- Font -->
    <link rel="stylesheet" href="/font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="/icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="icon" href="/img/core-img/favicon.ico">
<style>
    /* General Reset */
body, h1, h4, div, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid {
    padding: 20px;
    
    color: #333;
    background-color: #f9f9f9;
}

h1 {
    font-size: 28px;
    color: #4a5568;
    margin-bottom: 20px;
}

h4 {
    font-size: 20px;
    color: #2d3748;
    margin-bottom: 10px;
}

.text-primary {
    color: #3182ce;
}

/* Widget Default Styles */
.wg-chart-default {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.wg-chart-default:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.flex {
    display: flex;
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap14 {
    gap: 14px;
}

.mb-2 {
    margin-bottom: 8px;
}

.d-flex {
    display: flex;
}

.wrap-chart {
    margin-top: 20px;
}

/* Image Container */
.image {
    width: 48px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.type-white {
    background: #f1f5f9;
    border-radius: 8px;
}

.image svg {
    display: block;
}

/* Box Icon Trending */
.box-icon-trending {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.box-icon-trending.up {
    color: #fbb710;
}

.box-icon-trending.down {
    color: #fbb710;
}

.box-icon-trending .icon-trending-up,
.box-icon-trending .icon-trending-down {
    font-size: 18px;
    margin-bottom: 4px;
}

.body-title.number {
    font-size: 18px;
    font-weight: bold;
}

/* Text Styles */
.body-text {
    font-size: 14px;
    color: #718096;
}

h4 {
    font-size: 24px;
    color: #2c5282;
    font-weight: bold;
}



/* Responsive Design */
@media (max-width: 768px) {
    .wg-chart-default {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    .gap14 {
        gap: 10px;
    }

    .image {
        width: 36px;
        height: 40px;
    }
}

</style>
</head>

<body class="body">

    <!-- #wrapper -->
    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
            <div class="layout-wrap">
                <!-- section-menu-left -->
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="/admin/dashboard" id="site-logo-inner">
                            <img class="" style="height: 97px;" alt="" src="/img/core-img/logo.png"
                                data-light="/images/logo/logo.png" data-dark="/images/logo/logo-dark.png">
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-menu-left"></i>
                        </div>
                    </div>
                    <div class="center">
                        <div class="center-item">
                            <div class="center-heading">Main Home</div>
                            <ul class="menu-list">
                                <li class="menu-item has-children active">
                                    <a href="/admin/dashboard" class="menu-item-button">
                                        <div class="icon"><i class="icon-grid"></i></div>
                                        <div class="text">Dashboard</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="center-item">
                            <div class="center-heading">All page</div>
                            <ul class="menu-list">
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-shopping-cart"></i></div>
                                        <div class="text">Ecommerce</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/add-product" class="">
                                                <div class="text">Add Product</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/product-list" class="">
                                                <div class="text">Product List</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-layers"></i></div>
                                        <div class="text">Category</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/fragrance-list" class="">
                                                <div class="text">Fragrance List</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/add-fragrance" class="">
                                                <div class="text">Add Fragrance Type</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/occasion-list" class="">
                                                <div class="text">Occasion List</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/add-occasion" class="">
                                                <div class="text">Add Occasion</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/milliliters-list" class="">
                                                <div class="text">Milliliters List</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/add-milliliters" class="">
                                                <div class="text">Add Milliliter</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-file-plus"></i></div>
                                        <div class="text">Order</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/order-list" class="">
                                                <div class="text">Order list</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-user"></i></div>
                                        <div class="text">User</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/all-user" class="">
                                                <div class="text">All user</div>
                                            </a>
                                        </li>

                                    </ul>
                                </li>

                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="fa fa-ticket"></i></div>
                                        <div class="text">Coupon</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/add-coupon" class="">
                                                <div class="text">Add coupon</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/coupons-list" class="">
                                                <div class="text">coupon List</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="fa fa-gift"></i></div>
                                        <div class="text">Offer</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/offers-list" class="">
                                                <div class="text">Product Offer List</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/category-offer-list" class="">
                                                <div class="text">Category Offer List</div>
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </div>
                        <form action="/admin/logout" method="GET">
                            <button type="submit"
                                style='background-color: #fbb710; font-size: 15px; padding: 9px 15px; border-radius: 8px; text-align: center;margin-left: 60px;  cursor: pointer;'>Logout</button>
                        </form>
                    </div>
                </div>
                <!-- /section-menu-left -->





                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <a href="index.html">
                                    <img class="" id="logo_header_mobile" alt="" src="images/logo/logo.png"
                                        data-light="images/logo/logo.png" data-dark="images/logo/logo-dark.png"
                                        data-width="154px" data-height="52px" data-retina="images/logo/logo@2x.png">
                                </a>
                                <div class="button-show-hide">
                                    <i class="icon-menu-left"></i>
                                </div>
                                <form class="form-search flex-grow">
                                    <fieldset class="name">
                                        <input type="text" placeholder="Search here..." class="show-search" name="name"
                                            tabindex="2" value="" aria-required="true" required="">
                                    </fieldset>
                                    <div class="button-submit">
                                        <button class="" type="submit"><i class="icon-search"></i></button>
                                    </div>
                                </form>
                            </div>
                            <div class="header-grid">
                                <div class="header-item button-dark-light">
                                    <i class="icon-moon"></i>
                                </div>
                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                                <span class="flex flex-column">
                                                    <span class="body-title mb-2">Sayyida Jahan</span>
                                                    <span class="text-tiny">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                        <div class="main-content-inner">
                            <!-- main-content-wrap -->
                            <div class="main-content-wrap">
                                <div class="tf-section-4 mb-30">
                                    <!-- chart-default -->
                                    <div class="wg-chart-default">
                                        <div class="flex items-center justify-between">
                                            <div class="flex items-center gap14">
                                                <div class="image">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52"
                                                        viewBox="0 0 48 52" fill="none">
                                                        <path opacity="0.08"
                                                            d="M19.1086 2.12943C22.2027 0.343099 26.0146 0.343099 29.1086 2.12943L42.4913 9.85592C45.5853 11.6423 47.4913 14.9435 47.4913 18.5162V33.9692C47.4913 37.5418 45.5853 40.8431 42.4913 42.6294L29.1086 50.3559C26.0146 52.1423 22.2027 52.1423 19.1086 50.3559L5.72596 42.6294C2.63194 40.8431 0.725956 37.5418 0.725956 33.9692V18.5162C0.725956 14.9435 2.63195 11.6423 5.72596 9.85592L19.1086 2.12943Z"
                                                            fill="url(#paint0_linear_53_110)" />
    
                                                    </svg>
                                                    <i class="icon-shopping-bag"></i>
                                                </div>
                                                <div>
                                                    <div class="body-text mb-2">Total Sales</div>
                                                    <h4>₹<%=  overall.totalSalesAmount.toLocaleString()%></h4>
                                                </div>
                                            </div>
                                            <div class="box-icon-trending up">
                                               count
                                                <div class="body-title number"> <%=  overall.totalSalesCount %></div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- /chart-default -->
                                    <!-- chart-default -->
                                    <div class="wg-chart-default">
                                        <div class="flex items-center justify-between">
                                            <div class="flex items-center gap14">
                                                <div class="image">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52"
                                                        viewBox="0 0 48 52" fill="none">
                                                        <path opacity="0.08"
                                                            d="M19.1086 2.12943C22.2027 0.343099 26.0146 0.343099 29.1086 2.12943L42.4913 9.85592C45.5853 11.6423 47.4913 14.9435 47.4913 18.5162V33.9692C47.4913 37.5418 45.5853 40.8431 42.4913 42.6294L29.1086 50.3559C26.0146 52.1423 22.2027 52.1423 19.1086 50.3559L5.72596 42.6294C2.63194 40.8431 0.725956 37.5418 0.725956 33.9692V18.5162C0.725956 14.9435 2.63195 11.6423 5.72596 9.85592L19.1086 2.12943Z"
                                                            fill="url(#paint0_linear_53_110)" />
                                                       
                                                    </svg>
                                                    <i class="icon-dollar-sign"></i>
                                                </div>
                                                <div>
                                                    <div class="body-text mb-2">Total Discount</div>
                                                    <h4>₹<%= overall.totalDiscount? overall.totalDiscount.toLocaleString():'No Discount' %></h4>
                                                </div>
                                            </div>
                                            
                                        </div>
                                       
                                    </div>
                                    <!-- /chart-default -->
                                    <!-- chart-default -->
                                    <div class="wg-chart-default">
                                        <div class="flex items-center justify-between">
                                            <div class="flex items-center gap14">
                                                <div class="image">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52"
                                                        viewBox="0 0 48 52" fill="none">
                                                        <path opacity="0.08"
                                                            d="M19.1086 2.12943C22.2027 0.343099 26.0146 0.343099 29.1086 2.12943L42.4913 9.85592C45.5853 11.6423 47.4913 14.9435 47.4913 18.5162V33.9692C47.4913 37.5418 45.5853 40.8431 42.4913 42.6294L29.1086 50.3559C26.0146 52.1423 22.2027 52.1423 19.1086 50.3559L5.72596 42.6294C2.63194 40.8431 0.725956 37.5418 0.725956 33.9692V18.5162C0.725956 14.9435 2.63195 11.6423 5.72596 9.85592L19.1086 2.12943Z"
                                                            fill="url(#paint0_linear_53_110)" />
                                                       
                                                    </svg>
                                                    <i class="icon-file"></i>
                                                </div>
                                                <div>
                                                    <div class="body-text mb-2">Top Selling Product</div>
                                                    <h4><%= topSellingProduct ? topSellingProduct.productId.name :'No top Selling Product' %></h4>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <!-- /chart-default -->
                                    <!-- chart-default -->
                                    <div class="wg-chart-default">
                                        <div class="flex items-center justify-between">
                                            <div class="flex items-center gap14">
                                                <div class="image">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="52"
                                                        viewBox="0 0 48 52" fill="none">
                                                        <path opacity="0.08"
                                                            d="M19.1086 2.12943C22.2027 0.343099 26.0146 0.343099 29.1086 2.12943L42.4913 9.85592C45.5853 11.6423 47.4913 14.9435 47.4913 18.5162V33.9692C47.4913 37.5418 45.5853 40.8431 42.4913 42.6294L29.1086 50.3559C26.0146 52.1423 22.2027 52.1423 19.1086 50.3559L5.72596 42.6294C2.63194 40.8431 0.725956 37.5418 0.725956 33.9692V18.5162C0.725956 14.9435 2.63195 11.6423 5.72596 9.85592L19.1086 2.12943Z"
                                                            fill="url(#paint0_linear_53_110)" />
                                                        <defs>
                                                            <linearGradient id="paint0_linear_53_110" x1="-43.532"
                                                                y1="-34.3465" x2="37.6769" y2="43.9447"
                                                                gradientUnits="userSpaceOnUse">
                                                                <stop stop-color="#92BCFF" />
                                                                <stop offset="1" stop-color="#2377FC" />
                                                            </linearGradient>
                                                        </defs>
                                                    </svg>
                                                    <i class="icon-users"></i>
                                                </div>
                                                <div>
                                                    <div class="body-text mb-2">Top Selling Fragrance Type</div>
                                                    <h4><%= topSellingFragrance ? topSellingFragrance.productId.fragranceType :'No Top Selling Fragrance Type' %></h4>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    <!-- /chart-default -->
                                </div>
                                <div class="wg-box mb-30">
                                    <div class="flex items-center justify-between">
                                        <h5>Sales Report</h5>
                                        
                                    </div>
                                  
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <i class="fas fa-chart-area mr-1"></i>
                                                Sales Filter
                                            </div>
                                            <div class="card-body">
                                                <form id="filterForm" class="mb-3">
                                                    <div class="row">
                                                        <div class="col-md-3">
                                                            <select id="filter" name="filter" class="form-control">
                                                                <option value="daily">Daily</option>
                                                                <option value="weekly">Weekly</option>
                                                                <option value="yearly">Yearly</option>
                                                                <option value="custom">Custom</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="date" id="startDate" name="startDate" class="form-control" placeholder="Start Date">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <input type="date" id="endDate" name="endDate" class="form-control" placeholder="End Date">
                                                        </div>
                                                        <div class="col-md-3">
                                                            <button type="button" id="submitBtn" class="btn btn-primary" style=" margin-top: 14px; align-items: center; justify-content: center; background-color: #fbb710; border: none;">Apply Filter</button>
                                                        </div>
                                                    </div>
                                                </form>
                                                <div id="reportContent">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <i class="fas fa-chart-bar mr-1"></i>
                                                Sales Chart
                                            </div>
                                            <div class="card-body">
                                                <canvas id="salesChart" width="100%" height="50"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="line-chart-7"></div>
                                </div>

                                <div class="wg-box mb-30">
                                <div id="reportContent">
                                    <h3 class="mb-3">Total Revenue: ₹<span id="totalRevenue">0</span></h3>
                                    <table id="salesTable" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>OrderID</th>
                                                <th>Username</th>
                                                <th>Total Amount</th>
                                                <th>Discount</th>
                                                <th>Status</th>
                                                <th>Payment Method</th>
                                                <th>Created At</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                    <button id="downloadExcel" class="btn btn-success" style="background-color: #fbb710; border-color: darkblue; margin-left: 390px;">Download Excel</button>
                                    <button id="downloadPDF" class="btn btn-danger" style="background-color: #fbb710; border-color: darkblue;" >Download PDF</button>
                                </div>
                            </div>

                            <div class="tf-section mb-14">
                                <!-- product-overview -->
                                <div class="wg-box">
                                    <div class=" items-center justify-between">
                                        <h5>Top Selling Fragrance</h5>
                                    </div>
                                    <div class="wg-table table-product-overview t1">
                                        <ul class="table-title flex  mb-14">
                                            <li><div class="body-title">Fragrance</div></li>
                                            <li><div class="body-title" style="margin-left: -190px;">totalSales</div></li>
                                            <li><div class="body-title" style="margin-left: -890px;">total Amount</div></li>
                                           
                                        </ul>
                                        <div class="divider mb-14"></div>
                                        <ul class="product-list flex-column gap10">
                                            <% topSellingFragrances.forEach(fragrance => { %>
                                                <li class="product-item  gap4 mb-14">
                                                    <div class="flex items-center flex-grow gap2    ">
                                                        <div class="name">
                                                            <a href="product-list.html" class="body-text"><%= fragrance.productDetails.fragranceType %></a>
                                                        </div>
                                                        <div class="body-text" style="margin-left: -120px;"><%= fragrance.totalSales %></div>
                                                        <div class="body-text" style="margin-left: -1240px;"><%= fragrance.totalAmount %></div>
                                                        
                                                    </div>
                                                </li>
                                                <li class="divider"></li>
                                            <% }); %>
                                        </ul>
                                    </div>
                                </div>
                                
                                <!-- /product-overview -->
                            </div>

                              

                                <div class="tf-section mb-14">
                                    <!-- product-overview -->
                                    <div class="wg-box">
                                        <div class="flex items-center justify-between">
                                            <h5>Top Selling Products</h5>
                                        </div>
                                        <div class="wg-table table-product-overview t1">
                                            <ul class="table-title flex gap20 mb-14">
                                                <li><div class="body-title">Name</div></li>
                                                <li><div class="body-title">Price</div></li>
                                                <li><div class="body-title">Quantity</div></li>
                                                <li><div class="body-title">Sale</div></li>
                                                <li><div class="body-title">Revenue</div></li>
                                                <li><div class="body-title">stock</div></li>
                                            </ul>
                                            <div class="divider mb-14"></div>
                                            <ul class="product-list flex-column gap10">
                                                <% topSellingProducts.forEach(product => { %>
                                                    <li class="product-item flex gap14">
                                                        <div class="image no-bg">
                                                            <img src="<%= product.productDetails.images[0]  %>" alt="">
                                                        </div>
                                                        <div class="flex items-center justify-between flex-grow gap20">
                                                            <div class="name">
                                                                <a href="product-list.html" class="body-text"><%= product.productDetails.name %></a>
                                                            </div>
                                                            <div class="body-text"><%= product.variantDetails.price  %></div>
                                                            <div class="body-text"><%= product.variantDetails.stock %></div>
                                                            <div class="body-text"><%= product.totalSales %></div>
                                                            <div class="body-text"><%= product.totalAmount %></div>
                                                           <div>
                                                                <% if (product.variantDetails.stock > 0) { %>
                                                                    <div class="block-available">In stock</div>
                                                                <% } else { %>
                                                                    <div class="block-not-available">Out of stock</div>
                                                                <% } %>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="divider"></li>
                                                <% }); %>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                    <!-- /product-overview -->
                                </div>
                                
                            </div>
                            <!-- /main-content-wrap -->
                        </div>
                        <!-- /main-content-wrap -->
                        <!-- bottom-page -->
                        
                        <!-- /bottom-page -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

                        <script>
                            let salesChart;
                            
                            window.onload = async () => {
              

                    try {
                    const response = await fetch('/admin/dashboard', {
                    method: 'POST',
                    headers: { 
                    'Content-Type': 'application/json' 
                    },
                    body: JSON.stringify({ filter: 'daily', startDate: 0, endDate: 0 })
                    });

                    if (response.ok) {
                    const result = await response.json();
                   
                    updateReport(result);
                    } else {
                    console.error('Failed to fetch sales report on page load');
                    }
                    } catch (error) {
                    console.error('Error fetching data on page load:', error);
                    }
                    };
                            document.getElementById('submitBtn').addEventListener('click', async () => {
                                const filter = document.getElementById('filter').value;
                                const startDate = document.getElementById('startDate').value;
                                const endDate = document.getElementById('endDate').value;
                        
                                try {
                                    const response = await fetch('/admin/dashboard', {
                                        method: 'POST',
                                        headers: { 
                                            'Content-Type': 'application/json' 
                                        },
                                        body: JSON.stringify({ filter, startDate, endDate })
                                    });
                        
                                    if (response.ok) {
                                        const result = await response.json();
                                        updateReport(result);
                                    } else {
                                        console.error('Failed to fetch sales report');
                                    }
                                } catch (error) {
                                    console.error('Error:', error);
                                }
                            });
                        
                            function updateReport(data) {
                                const reportContent = document.getElementById('reportContent');
                            
                        
                                if (salesChart) {
                                    salesChart.destroy();
                                }
                        
                                const ctx = document.getElementById('salesChart').getContext('2d');
                                salesChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: data.labels,
                                        datasets: [{
                                            label: 'Sales Revenue',
                                            data: data.salesData,
                                            backgroundColor: 'rgba(54, 162, 235, 0.6)',
                                            borderColor: 'rgba(54, 162, 235, 1)',
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        responsive: true,
                                        scales: {
                                            y: {
                                                beginAtZero: true,
                                                title: {
                                                    display: true,
                                                    text: 'Revenue (₹)'
                                                }
                                            }
                                        }
                                    }
                                });
                                document.getElementById('totalRevenue').textContent = data.summary.totalRevenue.toLocaleString();

                    const tableBody = document.querySelector('#salesTable tbody');
                    tableBody.innerHTML = data.tableData.map(order => `
                    <tr>
                    <td>${order.orderID}</td>

                    <td>${order.username}</td>
                    <td>${order.totalAmount.toLocaleString()}</td>
                    <td>${order.discount.toLocaleString()}</td>
                    <td>${order.status}</td>
                    <td>${order.payment}</td>
                    <td>${new Date(order.createdAt).toLocaleDateString()}</td>
                    </tr>
                    `).join('');
                            }
                        </script>
                        

                    <script>

                    document.getElementById('downloadExcel').addEventListener('click', () => {
                    const table = document.getElementById('salesTable');
                    const wb = XLSX.utils.table_to_book(table, { sheet: "Sales Data" });
                    XLSX.writeFile(wb, "SalesData.xlsx");
                    });

                    document.getElementById('downloadPDF').addEventListener('click', () => {
                    const table = document.getElementById('salesTable');

                    const { jsPDF } = window.jspdf; 
                    const pdf = new jsPDF();

                    if (table) {
                    pdf.autoTable({ html: table }); 
                    pdf.save('SalesData.pdf');     
                    } else {
                    console.error('Table not found!');
                    }
                    });

                    </script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.25/jspdf.plugin.autotable.min.js"></script>
    <script src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/zoom.js"></script>
    <script src="/js/apexcharts/apexcharts.js"></script>
    <script src="/js/apexcharts/line-chart-1.js"></script>
    <script src="/js/apexcharts/line-chart-2.js"></script>
    <script src="/js/apexcharts/line-chart-3.js"></script>
    <script src="/js/apexcharts/line-chart-4.js"></script>
    <script src="/js/apexcharts/line-chart-5.js"></script>
    <script src="/js/apexcharts/line-chart-6.js"></script>
    <!-- <script src="js/switcher.js"></script> -->
    <script src="/js/theme-settings.js"></script>
    <script src="/js/main.js"></script>


</body>

</html>