<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!--<![endif]-->

<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Basic Page Needs -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>labelle</title>

    <meta name="author" content="themesflat.com">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/animation.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">



    <!-- Font -->
    <link rel="stylesheet" href="/font/fonts.css">

    <!-- Icon -->
    <link rel="stylesheet" href="/icon/style.css">

    <!-- Favicon and Touch Icons  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

</head>

<body class="body">

    <div id="wrapper">
        <!-- #page -->
        <div id="page" class="">
            <!-- layout-wrap -->
           <div class="layout-wrap">
                <div class="section-menu-left">
                    <div class="box-logo">
                        <a href="/admin/dashboard" id="site-logo-inner">
                            <img class="" style="height: 97px;" alt="" src="/img/core-img/logo.png" data-light="/images/logo/logo.png" data-dark="/images/logo/logo-dark.png" >
                        </a>
                        <div class="button-show-hide">
                            <i class="icon-menu-left"></i>
                        </div>
                    </div>
                    <div class="center">
                        <div class="center-item">
                            <div class="center-heading">Main Home</div>
                            <ul class="menu-list">
                                <li class="menu-item has-children ">
                                    <a href="/admin/dashboard" class="menu-item-button">
                                        <div class="icon"><i class="icon-grid"></i></div>
                                        <div class="text">Dashboard</div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="center-item">
                            <div class="center-heading">All page</div>
                            <ul class="menu-list">
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-shopping-cart"></i></div>
                                        <div class="text">Ecommerce</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/add-product" class="">
                                                <div class="text">Add Product</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/product-list" class="">
                                                <div class="text">Product List</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children active">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-layers"></i></div>
                                        <div class="text">Category</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/fragrance-list" class="">
                                                <div class="text">Fragrance List</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/add-fragrance" class="">
                                                <div class="text">Add Fragrance Type</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/occasion-list" class="">
                                                <div class="text">Occasion List</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/add-occasion" class="">
                                                <div class="text">Add Occasion</div>
                                            </a>
                                        </li>
                                         <li class="sub-menu-item">
                                            <a href="/admin/milliliters-list" class="">
                                                <div class="text">Milliliters List</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/add-milliliters" class="">
                                                <div class="text">Add Milliliter</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-file-plus"></i></div>
                                        <div class="text">Order</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/order-list" class="">
                                                <div class="text">Order list</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="icon-user"></i></div>
                                        <div class="text">User</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/all-user" class="">
                                                <div class="text">All user</div>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="fa fa-ticket"></i></div>
                                        <div class="text">Coupon</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/add-coupon" class="">
                                                <div class="text">Add coupon</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/coupons-list" class="">
                                                <div class="text">coupon List</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item has-children">
                                    <a href="javascript:void(0);" class="menu-item-button">
                                        <div class="icon"><i class="fa fa-gift"></i></div>
                                        <div class="text">Offer</div>
                                    </a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="/admin/offers-list" class="">
                                                <div class="text">Product Offer List</div>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="/admin/category-offer-list" class="">
                                                <div class="text">Category Offer List</div>
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </div>
                       
                <form action="/admin/logout" method="GET">
                    <button type="submit" style='background-color: #fbb710; font-size: 15px; padding: 9px 15px; border-radius: 8px; text-align: center;margin-left: 60px;  cursor: pointer;'>Logout</button>
                  </form>
                  
                
                    </div>
                </div>
                
                <!-- /section-menu-left -->
                <!-- section-content-right -->
                <div class="section-content-right">
                    <!-- header-dashboard -->
                    <div class="header-dashboard">
                        <div class="wrap">
                            <div class="header-left">
                                <a href="index.html">
                                    <img class="" id="logo_header_mobile" alt="" src="images/logo/logo.png" data-light="images/logo/logo.png" data-dark="images/logo/logo-dark.png" data-width="154px" data-height="52px" data-retina="images/logo/logo@2x.png">
                                </a>
                                <div class="button-show-hide">
                                    <i class="icon-menu-left"></i>
                                </div>
                               
                            </div>
                            <div class="header-grid">
                               
                                <div class="header-item button-dark-light">
                                    <i class="icon-moon"></i>
                                </div>
                                
                                <div class="header-item button-zoom-maximize">
                                    <div class="">
                                        <i class="icon-maximize"></i>
                                    </div>
                                </div>
                               
                                <div class="popup-wrap user type-header">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                                            <span class="header-user wg-user">
                                            
                                                <span class="flex flex-column">
                                                    <span class="body-title mb-2">Sayyida Jahan</span>
                                                    <span class="text-tiny">Admin</span>
                                                </span>
                                            </span>
                                        </button>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /header-dashboard -->
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- main-content-wrap -->
                        <div class="main-content-inner">
                            <!-- main-content-wrap -->
                            <div class="main-content-wrap">
                                <div class="flex items-center flex-wrap justify-between gap20 mb-27">
                                    <h3>Occasions List</h3>
                                    <ul class="breadcrumbs flex items-center flex-wrap justify-start gap10">
                                        <li>
                                            <a href="index.html"><div class="text-tiny">Dashboard</div></a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <a href="#"><div class="text-tiny">Category</div></a>
                                        </li>
                                        <li>
                                            <i class="icon-chevron-right"></i>
                                        </li>
                                        <li>
                                            <div class="text-tiny">Occation List</div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- product-list -->
                                <div class="wg-box">
                                    
                                    <div class="flex items-center justify-between gap10 flex-wrap">
                                        <div class="wg-filter flex-grow">
                                            
                                            <form class="form-search"  action="/admin/occasion-list" method="GET">
                                                <fieldset class="name">
                                                    <input type="text" placeholder="Search here..." class="" name="query" tabindex="2" value="<%= query %>" aria-required="true" required="">
                                                </fieldset>
                                                <div class="button-submit">
                                                    <button class="" type="submit"><i class="icon-search"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                        <a class="tf-button style-1 w208" href="/admin/add-occasion"><i class="icon-plus"></i>Add new</a>
                                    </div>
                                    <div class="wg-table table-product-list">
                                        <ul class="table-title flex gap20 mb-14">
                                            <li>
                                                <div class="body-title">Types</div>
                                            </li>   
                                            <li>
                                                <!-- <div style="margin-left: -600px;" class="body-title">Edit</div>     -->
                                        </ul>
                                        <ul class="flex flex-column">
                                            <% occasions.forEach(occasion => { %>
                                              <li class="product-item gap14">

                                                    <div class="flex items-center justify-between gap20 flex-grow">
                                                  <div class="body-text"><%= occasion.name %></div> 
                                                  <div class="list-icon-function">
                                                    <!-- <div style="margin-left: -600px;" class="item edit">
                                                      <i class="icon-edit-3"></i>
                                                    </div> -->
                                                  </div>
                                                </div>
                                              </li>
                                            <% }) %>
                                          </ul>
                                          
                                    </div>
                                    <div class="divider"></div>
                                        <div class="flex items-center justify-between flex-wrap gap10">
                                            <div class="text-tiny">Showing <%= limit %> entries</div>
                                            <ul class="wg-pagination">
                                                <!-- Previous page button -->
                                                <% if (page > 1) { %>
                                                    <li>
                                                        <a href="?page=<%= page - 1 %>&limit=<%= limit %>"><i class="icon-chevron-left"></i></a>
                                                    </li>
                                                <% } %>
                                                
                                                <!-- Page numbers -->
                                                <% for (let i = 1; i <= totalPages; i++) { %>
                                                    <li class="<%= page === i ? 'active' : '' %>">
                                                        <a href="?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
                                                    </li>
                                                <% } %>

                                                <!-- Next page button -->
                                                <% if (page < totalPages) { %>
                                                    <li>
                                                        <a href="?page=<%= page + 1 %>&limit=<%= limit %>"><i class="icon-chevron-right"></i></a>
                                                    </li>
                                                <% } %>
                                            </ul>
                                    </div>
                                </div>
                                <!-- /product-list -->
                            </div>
                            <!-- /main-content-wrap -->
                        </div>
                        <!-- /main-content-wrap -->
                        <!-- bottom-page -->
                       
                        <!-- /bottom-page -->
                    </div>
                    <!-- /main-content -->
                </div>
                <!-- /section-content-right -->
            </div>
            <!-- /layout-wrap -->
        </div>
        <!-- /#page -->
    </div>
    <!-- /#wrapper -->

    <!-- Javascript -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/zoom.js"></script>
    <!-- <script src="js/switcher.js"></script> -->
    <script src="/js/theme-settings.js"></script>
    <script src="/js/main.js"></script>

</body>

</html>