<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Labelle</title>

    <link rel="icon" href="img/core-img/favicon.ico">

    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">
    <style>
        .selected-fragrance {
            color: #fbb710;
        }

        #new-arrivals {
            margin-top: 40px;
        }

        #new-arrivals h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        #new-arrivals .single-product-wrapper {
            border: 1px solid #eee;
            padding: 15px;
            text-align: center;
            background-color: #f9f9f9;
            border-radius: 5px;
            transition: transform 0.3s ease;
        }

        #new-arrivals .single-product-wrapper:hover {
            transform: scale(1.05);
        }

        .small-swal {
            top: 10px !important;

            transform: translateX(-50%) !important;
            font-size: 7px;
            padding: 10px;
        }
    </style>
</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="/shop" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword..."
                                value="<%= searchQuery || '' %>">
                            <button type="submit">
                                <img src="img/core-img/search.png" alt="Search">
                            </button>
                        </form>

                        <% if (searchQuery) { %>
                            <div class="search-results-info mt-3">
                                Search results for: "<%= searchQuery %>"
                                    <a href="/shop" class="ml-2 text-muted">Clear Search</a>
                            </div>
                            <% } %>

                                <% if (products.length===0 && searchQuery) { %>
                                    <div class="no-results alert alert-warning mt-3">
                                        No products found matching your search.
                                    </div>
                                    <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Search Wrapper Area End -->

    <div class="main-content-wrapper d-flex clearfix">
        <!-- Mobile Nav -->
        <div class="mobile-nav">
            <div class="amado-navbar-brand">
                <a href="/home"><img src="img/core-img/logo.png" alt=""></a>
            </div>
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <div class="logo">
                <a href="/"><img style="width: 700px !important; height: 150px;" src="img/core-img/logo.png" alt=""></a>
            </div>
            <nav class="amado-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/shop">Shop</a></li>
                    <li><a href="/cart">Cart</a></li>
                </ul>
            </nav>
            <div class="amado-btn-group mt-30 mb-100">
                <% if (user ) { %>
                    <button class="btn amado-btn mb-15" onclick="window.location.href='/logout'">Logout</button>
                    <% } else { %>
                        <button class="btn amado-btn mb-15" onclick="window.location.href='/login'">Login</button>
                        <% } %>
                            <a href="/user-profile" class="btn amado-btn active">Profile</a>
            </div>
            <div class="cart-fav-search mb-100">
                <a href="/wishlist" class="fav-nav"><img src="img/core-img/favorites.png" alt=""> Favourite</a>
                <a href="#" class="search-nav"><img src="img/core-img/search.png" alt=""> Search</a>
            </div>
            <div class="social-info d-flex justify-content-between">

            </div>
        </header>
        <!-- Header Area End -->

        <div class="shop_sidebar_area" style="padding-bottom:1300px ;">
            <div class="widget catagory mb-50">
                <h6 class="widget-title mb-30">Gender</h6>
                <div class="catagories-menu" data-filter="gender">
                    <ul>
                        <li><a href="#" data-value="male">Male</a></li>
                        <li><a href="#" data-value="female">Female</a></li>
                        <li><a href="#" data-value="other">unisex</a></li>
                    </ul>
                </div>
            </div>
            <div class="widget catagory mb-50">
                <h6 class="widget-title mb-30">Fragrance</h6>
                <div class="catagories-menu" data-filter="fragrance">
                    <ul>
                        <% fragrances.forEach(fragrance=> { %>
                            <li>
                                <a href="#" data-value="<%= fragrance.name %>"
                                    class="<%= selectedFragrances.includes(fragrance.name) ? 'selected-fragrance' : '' %>">
                                    <%= fragrance.name %>
                                </a>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </div>


            <div class="widget catagory mb-50">
                <h6 class="widget-title mb-30">Occasions </h6>
                <div class="catagories-menu" data-filter="occasion">
                    <ul>
                        <% occasions.forEach(occasion=> { %>
                            <li>
                                <a href="#" data-value="<%= occasion.name %>">
                                    <%= occasion.name %>
                                </a>
                            </li>
                            <% }); %>
                    </ul>
                </div>
            </div>
        </div>
        <div class="amado_product_area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="product-topbar d-xl-flex align-items-end justify-content-between">
                            <div class="total-products">
                                <div class="view d-flex">
                                    <!-- <a href="#"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a> -->
                                </div>
                            </div>
                            <!-- <div class="product-sorting d-flex">
                                <div class="sort-by-date d-flex align-items-center mr-15">
                                    <p>Sort by</p>
                                    <form action="#" method="get">
                                        <select name="select" id="sortBydate">
                                            <option value="value">Date</option>
                                            <option value="value">Newest</option>
                                            <option value="value">Popular</option>
                                        </select>
                                    </form>
                                </div> 
                            </div> -->
                        </div>
                    </div>
                </div>
                <section id="new-arrivals" class="container">
                    <h2>New Arrivals</h2>
                    <div class="row">
                        <% newArrivals.forEach((product)=> { %>
                            <div class="col-12 col-sm-6 col-md-4">
                                <div class="single-product-wrapper">
                                    <a
                                        href="/product-details/<%= product.defaultVariant ? product.defaultVariant._id : '0' %>">
                                        <div class="product-img">
                                            <img src="<%= product.images[2] %>" alt="Product Image">
                                            <% if (product.images[0]) { %>
                                                <img class="hover-img" src="<%= product.images[0] %>" alt="Hover Image">
                                                <% } %>
                                        </div>
                                    </a>
                                    <div class="product-description">
                                        <h6>
                                            <%= product.name %>
                                        </h6>
                                        <p class="product-price">
                                            <%=product.defaultVariant ? product.defaultVariant.price: '1000' %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                    </div>
                </section>
                <div class="row">
                    <% products.forEach((product, index)=> { %>
                        <div class="col-12 col-sm-6 col-md-12 col-xl-6">
                            <div class="single-product-wrapper">
                                <a
                                    href="/product-details/<%=product.defaultVariant ? product.defaultVariant._id:'0' %>">
                                    <div class="product-img">
                                        <img src="<%=product.images[0]%>" alt="">
                                        <img class="hover-img" src="<%=product.images[1]%>" alt="">
                                    </div>
                                </a>
                                <div class="product-description d-flex align-items-center justify-content-between">
                                    <div class="product-meta-data">
                                        <div class="line"></div>
                                        <p class="product-price">
                                            <%=product.defaultVariant ? product.defaultVariant.price: '1000' %>
                                        </p>
                                        <a
                                            href="/product-details/<%=product.defaultVariant ? product.defaultVariant._id:'0' %>">
                                            <h6>
                                                <%= product.name %>
                                            </h6>
                                        </a>
                                    </div>
                                    <div class="ratings-cart text-right">
                                        <a href="/wishlist/<%= product.defaultVariant ? product.defaultVariant._id : '0' %>"
                                            onclick="toggleWishlist(event, '<%= product.defaultVariant._id  %>')"
                                            class="wishlist-toggle">
                                            <div>
                                                <% if (wishlistItems && Array.isArray(wishlistItems) &&
                                                    wishlistItems.includes(product.defaultVariant?._id?.toString())) {
                                                    %>
                                                    <i id="heart-icon-<%= product.defaultVariant._id %>"
                                                        style="color: rgb(246, 39, 39); font-size: 20px;"
                                                        class="fa fa-heart"></i>
                                                    <% } else { %>
                                                        <i id="heart-icon-<%= product.defaultVariant._id %>"
                                                            class="fa fa-heart-o" style="font-size: 20px;"></i>
                                                        <% } %>
                                            </div>
                                        </a>



                                        <div class="ratings">
                                            <!-- <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="false"></i>
                                            <i class="fa fa-star" aria-hidden="false"></i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } ) %>
                            <div class="row">
                                <div class="col-12">
                                    <nav aria-label="navigation">
                                        <ul class="pagination justify-content-end mt-50">
                                            <% for (let i=1; i <=totalPages; i++) { %>
                                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                                    <a class="page-link" href="?page=<%= i %>">
                                                        <%= i %>.
                                                    </a>
                                                </li>
                                                <% } %>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>



    <footer class="footer_area clearfix" style="padding: 0;">
        <div class="container">
            <div class="row align-items-center">

                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">

                        <div class="footer-logo mr-50">
                            <h4>labelle</h4>
                            <a href="/"><img style="height: 250px; width: 400px; margin: 0px; padding: 0px;"
                                    src="/img/core-img/logo2.png" alt=""></a>
                        </div>


                    </div>
                </div>

                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">

                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#footerNavContent" aria-controls="footerNavContent"
                                    aria-expanded="false" aria-label="Toggle navigation"><i
                                        class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/shop">Shop</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/cart">Cart</a>
                                        </li>

                                    </ul>

                                </div>

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const searchForm = document.querySelector('.search-content form');
            const searchInput = document.getElementById('search');

            searchForm.addEventListener('submit', (e) => {
                e.preventDefault();
                const searchTerm = searchInput.value.trim();

                if (searchTerm) {
                    window.location.href = `/shop?search=${encodeURIComponent(searchTerm)}`;
                }
            });
        });
        function toggleWishlist(event, variantId) {
            event.preventDefault();

            const heartIcon = document.getElementById(`heart-icon-${variantId}`);
            const isInWishlist = heartIcon.classList.contains('fa-heart');

            const url = isInWishlist ? '/wishlist-remove' : '/wishlist-add';
            const successMessage = isInWishlist ? 'Removed from Wishlist!' : 'Added to Wishlist!';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ variantId }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        if (isInWishlist) {
                            heartIcon.classList.add('fa-heart-o');
                            heartIcon.classList.remove('fa-heart');
                            heartIcon.style.color = '';
                        } else {
                            heartIcon.classList.add('fa-heart');
                            heartIcon.classList.remove('fa-heart-o');
                            heartIcon.style.color = 'rgb(246, 39, 39)';
                        }

                        Swal.fire({
                            position: 'top',
                            icon: 'success',
                            title: successMessage,
                            showConfirmButton: false,
                            timer: 1500,
                            width: '250px',
                        });
                    } else {
                        Swal.fire({
                            icon: 'info',
                            title: 'Action Failed!',
                            text: data.message,
                            confirmButtonText: 'OK',
                            width: '350px',
                        });
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'An error occurred while updating the wishlist.',
                        confirmButtonText: 'OK',
                        width: '250px',
                    });
                });
        }



        function applyFilters(category = null) {
            const selectedGenders = [];
            const selectedFragrances = [];
            const selectedOccasions = [];


            document.querySelectorAll('.catagories-menu[data-filter="gender"] ul li a.active').forEach(link => {
                const gender = link.getAttribute('data-value');
                selectedGenders.push(gender.charAt(0).toUpperCase() + gender.slice(1));
            });

            document.querySelectorAll('.catagories-menu[data-filter="fragrance"] ul li a.active').forEach(link => {
                selectedFragrances.push(link.getAttribute('data-value'));
            });

            document.querySelectorAll('.catagories-menu[data-filter="occasion"] ul li a.active').forEach(link => {
                selectedOccasions.push(link.getAttribute('data-value'));
            });


            const query = new URLSearchParams(window.location.search);

            if (selectedGenders.length) {
                query.set('gender', selectedGenders.join(','));
            } else {
                query.delete('gender');
            }

            if (selectedFragrances.length) {
                query.set('fragrance', selectedFragrances.join(','));
            } else {
                query.delete('fragrance');
            }

            if (selectedOccasions.length) {
                query.set('occasion', selectedOccasions.join(','));
            } else {
                query.delete('occasion');
            }

            if (category) {
                query.set('category', category);
            }


            window.location.search = query.toString();
        }


        document.addEventListener('DOMContentLoaded', () => {

            document.querySelectorAll('.catagories-menu[data-filter="gender"] ul li a').forEach(link => {
                link.addEventListener('click', function (e) {
                    e.preventDefault();

                    document.querySelectorAll('.catagories-menu[data-filter="gender"] ul li a').forEach(otherLink => {
                        otherLink.classList.remove('active');
                    });

                    this.classList.toggle('active');
                    applyFilters();
                });
            });


            document.querySelectorAll('.catagories-menu[data-filter="fragrance"] ul li a').forEach(link => {
                link.addEventListener('click', function (e) {
                    e.preventDefault();
                    this.classList.toggle('active');
                    applyFilters();
                });
            });

            document.querySelectorAll('.catagories-menu[data-filter="occasion"] ul li a').forEach(link => {
                link.addEventListener('click', function (e) {
                    e.preventDefault();
                    this.classList.toggle('active');
                    applyFilters();
                });
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/active.js"></script>

</body>

</html>